*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.wrap{
    width: 1200px;
    margin: 12% auto;
    text-align: center;
}
h1{
    font-size: 45px;
}
form{
    margin-block: 25px;
    margin-inline: 30% ;
    display: grid;
    grid-template-columns: repeat(1, 500px);
    row-gap: 20px;
    input{
        border: 1px solid grey;
        border-radius: 7px;
        font-size: 17px;
        padding-left: 7%;
        height: 45px;
    }
    button{
        border-radius: 7px;
        border: 0;
        height: 45px;
        background-color:  #0047FF;
        color: white;
    }
}
a{
    font-size: 17px;
    color: #0047FF;
    text-decoration: none;
}
.error{
    position: absolute;
    right: 3456px;
    background-color: rgb(222, 64, 64);
    border-radius: 12px;
    padding: 5px 10px;
    color: #fff;
    transition: 0.5s ease;
}
.active_error{
    margin: 0 50px ;
    position: absolute;
    width: 170px;
    top: 0;
    left: 0;
    color: #fff;
    transition: 0.5s ease;
}